{% extends 'layout.html' %}
{% block body %}
    {% if session.logged_in %}
        <form action="{{ url_for('add_entry') }}" class="add-entry" method="post">
        <dl>
            <dt>标题</dt>
            <dd><input type="text" size="30" name="title"></dd>
            <dt>内容</dt>
            <dd><textarea name="text" id="" cols="40" rows="5"></textarea></dd>
            <dd><input type="submit" value="共享"></dd>
        </dl>
    </form>
    {% endif %}
    <ul class="entries">
    {% for entry in entries %}
        <li>
            <h2>{{ entry.title }}</h2>
            {{ entry.text|safe }}
        </li>
    {% else %}
        <li><em>不敢相信, 这里居然没有消息……</em></li>
    {% endfor %}
    </ul>
{% endblock %}